/vendor/
/node_modules/
.env
.env.backup
.env.production
*.sql
*.zip
*.gz
.DS_Store
Thumbs.db
Homestead.json
Homestead.yaml
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.vagrant
_bak/
dist/
